.navbar {
	background-color: #FFB4B0; 
}

.select-album {
	background-color: #4DD7FA ; 
}

.music-info {
	background-color: #FEFAC0;
	color: #785616; 
}




/*Pick your four favorite songs from the artists you have chosen and use the information 
for each in the list that's on the right-hand side. You can use h1 tags, div tags, 
section tags... whatever you like.*/














